apiVersion: v1
kind: Service
metadata:
  labels:
    app: jenkins
  name: jenkins-service
spec:
  type: LoadBalancer
  ports:
    - name: http
      port: 80
      targetPort: 8080
    - name: remote
      port: 50000
      targetPort: 50000
  selector:
    app: jenkins
    version: 2.7.1
